body:has(.app) {
  margin: 0;
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.app > header {
  position: relative;
  width: 100vw;
  height: 70px;
  background-color: #89eda0;
  display: table;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.app > header > .iconsL {
  position: absolute;
  top: 0;
  left: 20px;
}

.app > header > .iconsL > * {
  margin-left: 0;
}

.app > header > .iconsR {
  position: absolute;
  top: calc((100% - 60px) / 2);
  right: 20px;
}

.app > header > .title {
  display: table-cell;
  /* flex-grow: 8; */
  margin: auto;
  /* text-align: center; */
  /* height: 100%; */
  /* line-height: 100%; */
  vertical-align: middle;
}

.app > main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app > main > section {
  flex-grow: 1;
}

.app > main > footer {
  height: 210px;
  background-color: #f0f9f2;
  border-top: 4px solid #6ac67e;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}

.app > main > footer > header {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #d3ffe6;
}

.app > main > footer > header > div {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

.app > aside {    /* both side bars */
  width: min(20vw, calc(50vw - 300px));
  height: calc(100vh - 70px);
  background-color: #f0f9f2;
  overflow: auto;
}

.app > aside:first-of-type {  /* only left side bar */
  border-right: 4px solid #6ac67e;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.app > aside:last-of-type {  /* only right side bar */
  border-left: 4px solid #6ac67e;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.app > aside > header {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #d3ffe6;
}

.app > aside > header > div {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

.app > aside > header > img {
  margin: auto;
}

#collapseLeft {
  transform: rotate(180deg);
}

#collapseDown {
  transform: rotate(90deg);
}
