/* stylelint-disable no-descending-specificity */

* {
  box-sizing: border-box;
}

body:has(.app) {
  margin: 0;
  overflow: hidden;
}

#root {
  --header-height: 70px;
}

.header {
  position: relative;
  width: 100vw;
  height: var(--header-height);
  background-color: #89eda0;
  display: table;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.header > .iconsL {
  position: absolute;
  top: 0;
  left: 20px;
}

.header > .iconsL > * {
  margin-left: 0;
}

.header > .iconsR {
  position: absolute;
  top: calc((100% - 60px) / 2);
  right: 20px;
}

.header > .title {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

.app {
  position: relative;
  height: calc(100vh - var(--header-height));
  display: flex;
}

.app > main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app > main > section {
  flex-grow: 1;
}

.app > main > footer {
  --header-height: 30px;

  height: 210px;
  border-top: 4px solid #6ac67e;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}

.app > main > footer > header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: var(--header-height);
  background-color: #d3ffe6;
  z-index: 2;
}

.app > main > footer > header > div {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

.categoryHeader {
  position: sticky;
  top: var(--header-height);
  background-color: #f0f9f2;
  padding: 5px 15px;
  z-index: 1;
}

.categoryHeader .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
}

.categoryHeader.open .arrow {
  transform: rotate(180deg);
}

.category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.category > * {
  margin: 10px 20px;
}

.app > aside {    /* both side bars */
  width: min(20vw, calc(50vw - 300px));
  height: calc(100vh - 70px);
  background-color: #f0f9f2;
  overflow: auto;
  flex-shrink: 0;
}

.app > aside:first-of-type {  /* only left side bar */
  border-right: 4px solid #6ac67e;
}

.app > aside:last-of-type {  /* only right side bar */
  border-left: 4px solid #6ac67e;
}

.app > aside > header {
  position: sticky;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #d3ffe6;
  z-index: 2;
}

.app > aside > header > div {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

.app > aside > header > img {
  margin: auto;
}

.app > aside > :not(header) {
  display: block;
  text-align: center;
  padding: 10px;
}

.app > aside > :not(header) ~ * {
  border-top: 2px solid #b0ecca;
}

.constant.mq-math-mode .mq-editable-field {
  padding: 0px;
  border-color: transparent;
  transition: border-color 0.3s ease;
}

.constant.mq-math-mode:is(:hover, :focus-within) .mq-editable-field {
  border-color: gray;
}

.constant.invalidName .mq-editable-field:first-child:not(:last-child) {
  box-shadow: 0 0 5px red;
}

.constant.invalidValue .mq-editable-field:not(:first-child):not(:last-child) {
  box-shadow: 0 0 5px red;
}

.constant.invalidUnit .mq-editable-field:first-child:last-child {
  box-shadow: 0 0 5px red;
}

#collapseLeft {
  transform: rotate(180deg);
}

#collapseDown {
  transform: rotate(90deg);
}

.equations {
  display: flex;
  overflow: hidden;
}

.equationHistory {
  padding: 0 10px;
  display: flex;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;
  scroll-behavior: smooth;
}

.equationHistory .state {
  position: relative;
  margin: 5px auto;
  overflow: visible;
  font-size: 18px;
  color: #888;
  transition: font-size 0.5s, color 0.5s;
}

/* Restore this if an x is used, and restore :not(:nth-child(2)) to later classes */
/* .equationHistory .state:nth-child(2) {
  font-family: sans-serif;
  margin-top: auto;
  padding-top: 15px;
  cursor: pointer;
} */

.equationHistory .state:nth-last-child(2),
.equationHistory .state:hover,
.equationHistory .state:focus-within,
.equationHistory .state.selected {
  font-size: 22px;
  color: #000;
}

.equationHistory .spacer {
  height: 30%;
  min-height: 70px;
  flex-shrink: 0;
}

.manipulations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #222223;
  border-radius: 7px;
  transform: translateY(-100%);
  background-color: #fff;
  text-align: center;
  font-size: 16px;
}

.manipulations > * {
  display: inline-block;
  margin: 5px;
  border: 2px solid #888889;
  border-radius: 10px;
  padding: 0 5px;
}

.problem {
  font-family: 'Noto Sans', sans-serif;
}

.helpMenu {
  z-index: 5;
  position: absolute;
  width: min(500px, 100vw);
  height: min(440px, 80vh);
  background-color: #f0f9f2;
  border: 4px solid #4f905d;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.helpMenu header {
  position: relative;
  background-color: #4f905d;
  padding: 5px;
  color: #FFF;
}

.helpMenu > main {
  padding: 5px;
  flex-grow: 1;
}

.helpMenu > footer {
  padding: 5px;
  text-align: center;
}

.helpMenu > footer > button {
  margin: 4px;
}

.helpMenu .close {
  display: block;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 1em;
  width: 1em;
  margin: auto;
  border: 2px solid #660000;
  color: #660000;
  background-color: #ff8888;
  text-align: center;
  line-height: 0.6em;
  border-radius: 0.3em;
  user-select: none;
  cursor: pointer;
}

.helpMenu .stepImage {
  max-width: 65%;
  max-height: 65%;
}

.helpMenu > main > div {
  text-align: center;
  margin: 15px;
}
