.manipulations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #222223;
  border-radius: 7px;
  transform: translateY(-100%);
  background-color: #fff;
  text-align: center;
  font-size: 16px;
}

.manipulations > * {
  display: inline-block;
  margin: 5px;
  border: 2px solid #888889;
  border-radius: 10px;
  padding: 0 5px;
}
